
/* layout & nav */

.active {
    display: none;
  }
  
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
  }
  #links {
    display: inline-block;
    text-align: right;
    margin-left: auto;
  }
  nav a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
  }
  a:hover {
    border-color: white;
  }
  footer p{
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 40px auto;
  }
  .hamburger {
    display: none;
  }
  
  